# Ejercicios sobre Pandas

In [38]:
import pandas as pd

In [39]:
# Crear DataFrame desde el archivo CSV
df_accidentes = pd.read_csv(r'C:\Users\Cebol\OneDrive\Escritorio\Henry_data\DataSets\Nuclear_Incidents.csv')
df_accidentes.head(5)

,Date,Location,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\r\nlevel,Latitude,Longitude
0,29/09/1957,"Mayak, Kyshtym, Soviet Union",Kyshtym disaster,Storage/Handling,NaN,200,6.0,55.7131,60.8526
1,10/10/1957,"Sellafield, Cumberland, United Kingdom",Windscale fire,Operational/Safety Measures,0.0,240,5.0,54.4167,-3.4833
2,03/01/1961,"Idaho Falls, Idaho, United States",SL-1 prototype explosion,Operator Error,3.0,NaN,4.0,43.4920,-112.0401
3,05/10/1966,"Frenchtown Charter Township, Michigan, United ...",Fermi 1 Reactor meltdown,Technical Flaws,0.0,NaN,4.0,41.9562,-83.6639
4,21/01/1969,"Lucens reactor, Vaud, Switzerland","Loss-of-Coolant Accident (January 21, 1969)",Operator Error,0.0,NaN,4.0,46.6772,6.8750

### Ejercicio 1:
* Muestra la cantidad de registros para cada país ('Location').

In [42]:
registro_paises = df_accidentes[["Location ",'Numbers of Direct Deaths', 'Numbers of InDirect Deaths']].groupby('Location ').sum()
registro_paises

,Numbers of Direct Deaths,Numbers of InDirect Deaths
Location,,
"Athens, Alabama, United States",0.0,0
"Chernobyl, Chernobyl Raion (now Vyshhorod Raion), Kiev Oblast, Ukrainian SSR, Soviet Union",28.0,"4,000"
"Crystal River, Florida, United States",0.0,0
"Delta, Pennsylvania, United States",0.0,0
"Forsmark, Sweden",0.0,0
"Frenchtown Charter Township, Michigan, United States",0.0,0
"Fukui Prefecture, Japan",4.0,0
"Fukushima, Japan",4.0,0
"Greifswald, East Germany",0.0,0
"Hamm-Uentrop, West Germany",0.0,0
"Ibaraki Prefecture, Japan",2.0,0
"Idaho Falls, Idaho, United States",3.0,0
"Jaslovské Bohunice, Czechoslovakia",2.0,0
"Lucens reactor, Vaud, Switzerland",0.0,0
"Lusby, Maryland, United States",0.0,0
"Lycoming, New York, United States",0.0,0
"Marcoule, France",1.0,0
"Mayak, Kyshtym, Soviet Union",0.0,200
"Oak Harbor, Ohio, United States",0.0,0
"Paks, Hungary",0.0,0
"Plymouth, Massachusetts, United States",0.0,0
"Sellafield, Cumberland, United Kingdom",0.0,240
"Sosnovy Bor, Leningrad Oblast, Russia",0.0,0
"Surry, Virginia, United States",4.0,0
"Three Mile Island, Pennsylvania, United States",0.0,0
"Vandellòs, Spain",0.0,0
"Waterford, Connecticut, United States",0.0,0

### Ejercicio 2:
* Eliminar las columnas 'Longitude', 'Latitude' y 'Location' y mostrar las 2 primeras filas del Dataframe.

In [44]:
df_accidentes.drop(['Longitude', 'Latitude', 'Location '], inplace=True, axis=1)
df_accidentes.head(2)

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\r\nlevel
0,29/09/1957,Kyshtym disaster,Storage/Handling,NaN,200,6.0
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240,5.0

### Ejercicio 3:
* Muestra la cantidad de veces que se repiten los años en la columna 'Date'.

In [51]:
df_accidentes['Date'] = pd.to_datetime(df_accidentes['Date'], format='%d/%m/%Y')
df_accidentes['Año'] = df_accidentes['Date'].dt.year
accidentes_año = df_accidentes['Año'].value_counts()
accidentes_año

Año
1986    4
1957    2
1996    2
1989    2
1987    2
2011    2
1976    1
1979    1
1984    1
1985    1
1975    1
1961    1
1969    1
1992    1
1966    1
1999    1
2002    1
2003    1
2004    1
2006    1
Name: count, dtype: int64

### Ejercicio 4:
* Crea una nueva columna llamada 'Severity' que sea la suma de las columnas 'INES level' y 'Numbers of Direct Deaths'.

### Ejercicio 5:
* Crear un nuevo campo, que se denomine "Total Deaths", que guarde la sumatoria de las columnas 'Numbers of Direct Deaths' y 'Numbers of InDirect Deaths'. Informar el total de muertes para el incidente más grave (mayor 'Total Deaths').

### Ejercicio 6:
* Mostrar la cantidad de incidentes nucleares en cada categoría ('Category').

### Ejercicio 7:
* Filtrar el DataFrame para mostrar solo los incidentes ocurridos en Estados Unidos ('Pais').

### Ejercicio 8:
* Calcular la cantidad total de muertes directas por incidente nuclear para cada año.

### Ejercicio 9:
* Mostrar la cantidad de incidentes nucleares en cada país ('Pais') en los que el nivel INES es mayor a 5.

### Ejercicio 10:
* Calcular la cantidad de muertes directas totales de Estados Unidos.